<section>
    <div class="container">
        <div class="row" style="padding-top: 140px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="approverorprojectmanager.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 74px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="approverorprojectmanager.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 60px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_ApproverOrProjectManager()" style="width: 100%;">save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 46px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_ApproverOrProjectManager()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
