<section>
    <div class="container">
        <div class="row" style="padding-top: 88px">
        <div class="col-lg-4 col-lg-offset-1"><label class="generated-label">Type- Other information section</label>
        </div>
        </div>
        <div class="row" style="padding-top: 91px">
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="type.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 62px">
        <div class="col-lg-1 col-lg-offset-2"><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="type.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 55px">
        <div class="col-lg-2 col-lg-offset-3"><button class="btn btn-primary" (click)="create_Type()" style="width: 100%;">save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 45px">
        <div class="col-lg-2 col-lg-offset-3"><button class="btn btn-primary" (click)="get_all_Type()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
