<section>
    <div class="container">
        <div class="row" style="padding-top: 90px">
        <div class="col-lg-2 "><label class="generated-label">Asset Identity</label>
        </div>
        <div class="col-lg-2 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 57px">
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Purpose</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 66px">
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Office</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Room</label>
        </div>
        <div class="col-lg-2 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Rack No.</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.rack1"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 87px">
        <div class="col-lg-2 "><label class="generated-label">Current Location</label>
        </div>
        <div class="col-lg-2 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Make</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.make"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 56px">
        <div class="col-lg-1 "><label class="generated-label">Asset Code</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.code"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><label class="generated-label">Model</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.model"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 39px">
        <div class="col-lg-2 "><label class="generated-label">PWC Asset number</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.asset_number"></md-input-container>
        </div>
        <div class="col-lg-1 "><label class="generated-label">Serial Number</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.serial"></md-input-container>
        </div>
        </div>

    </div>
</section>
