<section>
    <div class="container">
        <div class="row" style="padding-top: 24px">
        <div class="col-lg-6 "><label class="generated-label">Deactiviation Information</label>
        </div>
        </div>
        <div class="row" style="padding-top: 14px">
        <div class="col-lg-2 "><label class="generated-label">Deactivation Type</label>
        </div>
        <div class="col-lg-3 "><div class="form-check" style="width: 100%;">
        	<label class="form-check-label"><input type="radio" class="form-check-input" value="Radio"/>Radio</label>
        </div>
        </div>
        </div>
        <div class="row" style="padding-top: 47px">
        <div class="col-lg-3 "><label class="generated-label">Permanent Deactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.permanentdeactivationdate"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 35px">
        <div class="col-lg-3 "><label class="generated-label">1st Deactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.firstdeactivationdate"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">1st Reactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.firstreactivationdate"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 46px">
        <div class="col-lg-3 "><label class="generated-label">2nd Deactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.seconddeactivationdate"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">2nd Reactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.secondreactivationdate"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 45px">
        <div class="col-lg-2 "><label class="generated-label">3rd Deactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.thirddeactivationdate"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">3rd Reactivation Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.thirdreactivationdate"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 54px">
        <div class="col-lg-2 "><label class="generated-label">Remark (If any)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.remarks"></md-input-container>
        </div>
        </div>

    </div>
</section>
