<section>
    <div class="container">
        <div class="row" style="padding-top: 28px">
        <div class="col-lg-3 "><label class="generated-label">Other Information</label>
        </div>
        <div class="col-lg-4 "><label class="generated-label">For Census Jan 2009 Only</label>
        </div>
        </div>
        <div class="row" style="padding-top: 40px">
        <div class="col-lg-2 "><label class="generated-label">Counted for Census ?</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Remarks(if any)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.remarks"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 33px">
        <div class="col-lg-3 "><label class="generated-label">Reason for not count</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 34px">
        <div class="col-lg-2 "><label class="generated-label">Mode Of Use</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-3 "><label class="generated-label">Approver/Project Manager</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 32px">
        <div class="col-lg-2 "><label class="generated-label">Date Of Allocation</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.dateofallocaiton"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">Expected Date Of Return</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.expecteddateofreturn"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 27px">
        <div class="col-lg-2 "><label class="generated-label">Engineer's Name</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Project Name</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 22px">
        <div class="col-lg-2 "><label class="generated-label">Last Returned by</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.lastreturnedby"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Project Code</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.projectcode"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 32px">
        <div class="col-lg-2 "><label class="generated-label">Accessories</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Mac Address</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.macaddress"></md-input-container>
        </div>
        </div>

    </div>
</section>
