<section>
    <div class="container">
        <div class="row" style="padding-top: 91px">
        <div class="col-lg-2 "><label class="generated-label">Account(CAF)Number</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.accountcafnumber"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">Advanced Rental</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.advancedrental"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 52px">
        <div class="col-lg-2 "><label class="generated-label">DataCardType</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.datacardtype"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">{{assetregisterbookform.periodinmonthfreerentalcharges}}</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.periodinmonthfreerentalcharges"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 37px">
        <div class="col-lg-3 "><label class="generated-label">Contract Period Duration</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.contractperiodduration"></md-input-container>
        </div>
        <div class="col-lg-4 "><label class="generated-label">{{assetregisterbookform.paymentstartdatewithrentalchages}}</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.paymentstartdatewithrentalchages"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 41px">
        <div class="col-lg-2 "><label class="generated-label">Start Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.startdate"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">{{assetregisterbookform.freerental}}</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.freerental"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 50px">
        <div class="col-lg-2 "><label class="generated-label">End Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.enddate"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">{{assetregisterbookform.rentalplan}}</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>
        <div class="row" style="padding-top: 50px">
        <div class="col-lg-2 "><label class="generated-label">Fixed cost</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.fixedcost"></md-input-container>
        </div>
        <div class="col-lg-3 "><label class="generated-label">Data Transfer Limit</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>

    </div>
</section>
