<section>
    <div class="container">
        <div class="row" style="padding-top: 56px">
        <div class="col-lg-2 "><label class="generated-label">Server Imporance</label>
        </div>
        <div class="col-lg-2 "><div class="form-check" style="width: 100%;">
        	<label class="form-check-label"><input type="radio" class="form-check-input" value="Type2"/>Type2</label>
        </div>
        </div>
        <div class="col-lg-3 "><label class="generated-label">Network category (VLAN)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.networkcategoryvlan"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 54px">
        <div class="col-lg-2 "><label class="generated-label">HYPER V Server?</label>
        </div>
        <div class="col-lg-2 "><div class="form-check" style="width: 100%;">
        	<label class="form-check-label"><input type="radio" class="form-check-input" value="Radio"/>Radio</label>
        </div>
        </div>
        </div>
        <div class="row" style="padding-top: 54px">
        <div class="col-lg-2 "><label class="generated-label">HYPER V ServerName</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.hypervservername"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 46px">
        <div class="col-lg-1 "><label class="generated-label">Connection</label>
        </div>
        <div class="col-lg-2 "><div class="form-check" style="width: 100%;">
        	<label class="form-check-label"><input type="radio" class="form-check-input" value="Connection"/>Connection</label>
        </div>
        </div>
        </div>
        <div class="row" style="padding-top: 57px">
        <div class="col-lg-2 "><label class="generated-label">Mobile Number</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.mobilenumber"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Remark (If any)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.remarks"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 5px">
        <div class="col-lg-3 "><label class="generated-label">Scan Copy of User Signed Document</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.scancopyofusersigneddocument"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 22px">
        <div class="col-lg-1 "><label class="generated-label">Data Classification</label>
        </div>
        <div class="col-lg-2 "><div class="form-check" style="width: 100%;">
        	<label class="form-check-label"><input type="radio" class="form-check-input" value="DC"/>DC</label>
        </div>
        </div>
        </div>

    </div>
</section>
