<section>
    <div class="container">
        <div class="row" style="padding-top: 39px">
        <div class="col-lg-3 "><label class="generated-label">Configuration Details</label>
        </div>
        </div>
        <div class="row" style="padding-top: 50px">
        <div class="col-lg-2 "><label class="generated-label">Processor</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.processor"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">CPU Speed MHz</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.cpuspeedmhz"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 51px">
        <div class="col-lg-2 "><label class="generated-label">Initial HDD(GB)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.initialhddgb"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Present HDD(GB)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.presenthddgb"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 51px">
        <div class="col-lg-2 "><label class="generated-label">Initial RAM (MB)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.initialramgb"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Present RAM(MB)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.presentramgb"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 54px">
        <div class="col-lg-2 "><label class="generated-label">No.of CPU</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">HDD Details</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 43px">
        <div class="col-lg-2 "><label class="generated-label">DAT,DLT(GB)</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">RAM Details</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 48px">
        <div class="col-lg-2 "><label class="generated-label">Model No.</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">Catrige NO.</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 43px">
        <div class="col-lg-1 "><label class="generated-label">Speed</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">PortNo</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input"></md-input-container>
        </div>
        </div>

    </div>
</section>
