<section>
    <div class="container">
        <div class="row" style="padding-top: 43px">
        <div class="col-lg-4 col-lg-offset-1"><label class="generated-label">Physical Verification</label>
        </div>
        </div>
        <div class="row" style="padding-top: 63px">
        <div class="col-lg-2 "><label class="generated-label">Last Verification Date</label>
        </div>
        <div class="col-lg-3 "><md-input-container>
        <input mdInput placeholder="Date" type="date" style="width: 100%;" [(ngModel)]="assetregisterbookform.lvd"></md-input-container>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><label class="generated-label">Last Verified By</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.engineer_1"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 119px">
        <div class="col-lg-1 "><label class="generated-label">PIN NO.</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.pin"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-2"><label class="generated-label">ESN/RSN NO.</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.esn"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 50px">
        <div class="col-lg-1 "><label class="generated-label">IMEI NO</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.sl"></md-input-container>
        </div>
        <div class="col-lg-1 col-lg-offset-2"><label class="generated-label">Unlock code</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.ucode1"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 58px">
        <div class="col-lg-2 col-lg-offset-6"><label class="generated-label">Mobile Number</label>
        </div>
        <div class="col-lg-2 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.mobile"></md-input-container>
        </div>
        </div>

    </div>
</section>
