<section>
    <div class="container">
        <div class="row" style="padding-top: 74px">
        <div class="col-lg-2 "><label class="generated-label">IOS Version</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.iosversion"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">No. ofSerial Port</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.noofserialport"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 36px">
        <div class="col-lg-1 "><label class="generated-label">FLASH</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.flash"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">No.ofISDN Port</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.noofisdnport"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 53px">
        <div class="col-lg-1 "><label class="generated-label">DRAM</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.dram"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">No .Of Ethernet Port</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.noofethernetport"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 45px">
        <div class="col-lg-2 "><label class="generated-label">Supplied by GTL</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.suppliedbygtl"></md-input-container>
        </div>
        <div class="col-lg-2 "><label class="generated-label">No. Of PSTN Port</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="assetregisterbookform.noofpstnport"></md-input-container>
        </div>
        </div>

    </div>
</section>
