<section>
    <div class="container">
        <div class="row" style="padding-top: 40px">
        <div class="col-lg-10 "><tabset><tab heading='Account Details'><div class="row" style="padding-top: 96px">
        <div class="col-lg-2 "><label class="generated-label">LNID</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>

        </tab><tab heading='Deactivation Information'><div class="row" style="padding-top: 96px">
        <div class="col-lg-2 "><label class="generated-label">LNID</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>

        </tab><tab heading='Configuration Details'><div class="row" style="padding-top: 96px">
        <div class="col-lg-2 "><label class="generated-label">LNID</label>
        </div>
        <div class="col-lg-3 "><md-select placeholder="Select" class="null" style="width: 100%;">
        <md-option [value]="1">Value 1</md-option>
        <md-option [value]="2">Value 2</md-option>
        <md-option [value]="3">Value 3</md-option>
        <md-option [value]="4">Value 4</md-option>

        </md-select>
        </div>
        </div>

        </tab>
        </tabset>
        </div>
        </div>

    </div>
</section>
