<section>
    <div class="container" style="width: 100%;">
        <!-- <div class="row" style="padding-top: 39px">
            <div class="col-lg-6 "><label class="generated-label">Asset Register Book Form</label>
            </div>
        </div> -->
        <div class="row" style="padding-top: 20px">

            <div class="col-lg-12 " style="width:100%;height: 500px;">
                <ag-grid-angular #Table_151Grid style="width: 100%; height: 100%;" class="ag-fresh" [gridOptions]="Table_151GridOptions"
                    [rowData]="array_Assetregisterbookform" (rowClicked)="  onEditSelected($event)"></ag-grid-angular>
            </div>
        </div>
        <br>
        <div class="row col-lg-12 ">
            <div class="col-lg-2 " style="margin-left: 15px;"><button class="btn btn-primary" (click)="exportcsv()" style="width: 100%;">Export AS CSV</button>
            </div>
            <div class="col-lg-2 " style="margin-left: 15px;"><button class="btn btn-primary" (click)="onRemoveSelected()" style="width: 100%;">Delete</button>
            </div>
        </div>


    </div>
</section>