<section>
    <div class="container">
        <div class="row" style="padding-top: 138px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="accessories.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 78px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="accessories.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 60px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_Accessories()" style="width: 100%;">Save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 41px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_Accessories()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
