<section>
    <div class="container">
        <div class="row" style="padding-top: 110px">
        <div class="col-lg-4 col-lg-offset-3"><label class="generated-label">Office Screen</label>
        </div>
        </div>
        <div class="row" style="padding-top: 101px">
        <div class="col-lg-1 col-lg-offset-3"><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="officelocation.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 57px">
        <div class="col-lg-1 col-lg-offset-3"><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-2 col-lg-offset-1"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="officelocation.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 60px">
        <div class="col-lg-2 col-lg-offset-4"><button class="btn btn-primary" (click)="create_OfficeLocation()" style="width: 100%;">Save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 47px">
        <div class="col-lg-2 col-lg-offset-4"><button class="btn btn-primary" (click)="get_all_OfficeLocation()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
