<section>
    <div class="container">
        <div class="row" style="padding-top: 149px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="poyear.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 53px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="poyear.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 45px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_Poyear()" style="width: 100%;">save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 40px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_Poyear()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
