<section>
    <div class="container">
        <div class="row" style="padding-top: 110px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="engineer.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 68px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="engineer.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 73px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_Engineer()" style="width: 100%;">Save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 47px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_Engineer()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
