<section>
    <div class="container">
        <div class="row" style="padding-top: 64px">
        <div class="col-lg-4 col-lg-offset-2"><label class="generated-label">List Of Engineer</label>
        </div>
        </div>
       <!--  <div class="row" style="padding-top: 79px">
        <div class="col-lg-2 col-lg-offset-2"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="engineer.name"></md-input-container>
        </div>
        <div class="col-lg-1 "><button class="btn btn-primary" (click)="get_all_Engineer()" style="width: 100%;">GetAll</button>
        </div>
        </div> -->
        <div class="row" style="padding-top: 63px">
         <div class="col-lg-8 " style="width:100%;height: 300px;"><ag-grid-angular #Table_1005Grid style="width: 100%; height: 138px;" class="ag-fresh" [gridOptions]="Table_1005GridOptions" [rowData]="array_Engineer"></ag-grid-angular>
        </div>
        </div>

    </div>
</section>
<modal #modalSFU>
	<modal-header [show-close]="true">
		<h4 class="modal-title">ID required!</h4>
	</modal-header>
	<modal-body>
		<md-input-container><input mdInput placeholder="Engineer ID" [(ngModel)]="engineer.id"></md-input-container>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalSFU.dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="search_for_update_Engineer()">Get Engineer</button>
	</modal-footer>
</modal>
