<section>
    <div class="container">
        <div class="row" style="padding-top: 54px">
        <div class="col-lg-4 col-lg-offset-2"><label class="generated-label">List Mode Of Use</label>
        </div>
        </div>
       <!-- <div class="row" style="padding-top: 46px">
        <div class="col-lg-2 col-lg-offset-2"><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="modeofuse.name"></md-input-container>
        </div>
        <div class="col-lg-1 "><button class="btn btn-primary" (click)="get_all_ModeOfUse()" style="width: 100%;">GetAll</button>
        </div> 
        </div> -->
        
        <div class="row" style="padding-top: 48px">
          <div class="col-lg-8 " style="width:100%;height: 300px;"><ag-grid-angular #Table_955Grid style="width: 100%; height: 138px;" class="ag-fresh" [gridOptions]="Table_955GridOptions" [rowData]="array_ModeOfUse"></ag-grid-angular>
        </div>
        </div>

    </div>
</section>
<modal #modalSFU>
	<modal-header [show-close]="true">
		<h4 class="modal-title">ID required!</h4>
	</modal-header>
	<modal-body>
		<md-input-container><input mdInput placeholder="ModeOfUse ID" [(ngModel)]="modeofuse.id"></md-input-container>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalSFU.dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="search_for_update_ModeOfUse()">Get ModeOfUse</button>
	</modal-footer>
</modal>
