<section>
    <div class="container">
        <div class="row" style="padding-top: 144px">
        <div class="col-lg-1 "><label class="generated-label">Name</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="modeofuse.name"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 89px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="modeofuse.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 61px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_ModeOfUse()" style="width: 100%;">save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 38px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_ModeOfUse()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
