<section>
    <div class="container">
        <div class="row" style="padding-top: 98px">
        <div class="col-lg-1 "><label class="generated-label">Reason</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="reasonfornotcount.reason"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 53px">
        <div class="col-lg-1 "><label class="generated-label">Description</label>
        </div>
        <div class="col-lg-3 "><md-input-container class="" style="width: 100%;"><input mdInput placeholder="Input" [(ngModel)]="reasonfornotcount.description"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 68px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="create_ReasonForNotCount()" style="width: 100%;">save</button>
        </div>
        </div>
        <div class="row" style="padding-top: 51px">
        <div class="col-lg-3 "><button class="btn btn-primary" (click)="get_all_ReasonForNotCount()" style="width: 100%;">GetAll</button>
        </div>
        </div>

    </div>
</section>
